@inherits LayoutComponentBase

<div class="page">
    <div id="hud-lt" class="z-10 fixed top-0 left-0 w-25 bg-sky-500/75"></div>
    <div id="hud-ct"></div>
    <div id="hud-rt"></div>
    <div id="hud-lb"></div>
    <div id="hud-rb"></div>
    <main class="w-screen h-screen">
        @Body
    </main>
    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
</div>

